html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #fa01c4, #f837ce, #f692ff, #d393f8, #cfb2fd);
}

.header
{
	color: white;font-family: 'Lucida Sans';font-size: 80px;letter-spacing: 10px;margin-top: 80px;padding:10px;
}
.room_name
{
	cursor: pointer;
	font-size: 20px;
}

.logo{
	width: 110px;
  border-radius: 20px;
  }


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}
